<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :wisata, label_method: :nama %>
    <%= f.input :nama %>
    <%= f.input :alamat %>
    <%= f.input :deskripsi %>
    <%= f.input :telp %>
    <%= f.input :harga %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :foto %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
