<p id="notice"><%= notice %></p>

<p>
  <strong>Wisata:</strong>
  <%= @restaurant.wisata_id %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @restaurant.nama %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @restaurant.alamat %>
</p>

<p>
  <strong>Deskripsi:</strong>
  <%= @restaurant.deskripsi %>
</p>

<p>
  <strong>Telp:</strong>
  <%= @restaurant.telp %>
</p>

<p>
  <strong>Harga:</strong>
  <%= @restaurant.harga %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @restaurant.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @restaurant.longitude %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@restaurant.foto, class: "img-responsive") %>
  <%= render 'restaurants/peta', restaurant: @restaurant %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
