<p id="notice"><%= notice %></p>

<h1>Listing Albumfotohotels</h1>

<table>
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albumfotohotels.each do |albumfotohotel| %>
      <tr>
        <td><%= albumfotohotel.hotel %></td>
        <td><%= albumfotohotel.foto %></td>
        <td><%= link_to 'Show', albumfotohotel %></td>
        <td><%= link_to 'Edit', edit_albumfotohotel_path(albumfotohotel) %></td>
        <td><%= link_to 'Destroy', albumfotohotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Albumfotohotel', new_albumfotohotel_path %>
