<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @albumfotorestoran.restaurant_id %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @albumfotorestoran.foto %>
</p>

<%= link_to 'Edit', edit_albumfotorestoran_path(@albumfotorestoran) %> |
<%= link_to 'Back', albumfotorestorans_path %>
